repos:
  - repo: https://github.com/pre-commit/mirrors-yamllint
    rev: v1.26.3
    hooks:
      - id: yamllint
        args: ['-c', '.yamllint']

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
